#wpwrap {
  overflow: hidden;
}


/* Karma
--------------------------------------*/

/* .karma-wrap {
  height: calc(100vh - 32px);
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
}
#karma-editor-list {
  display: flex;
  flex-grow: 1;
}
#karma-editor-list .karma-list-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#karma-editor-list .karma-list-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#karma-editor-list .karma-list-body ul {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#karma-editor-list .karma-list-body ul li {
  display: flex;
  flex-direction: column;
}
#karma-editor-list .karma-list-body ul li:last-child {
  flex-grow: 1;
} */

/* Karma List
--------------------------------------*/
.karma-list-header-row {
  display: flex;
  justify-content: space-between;
}
.karma-list-header-row ul.status-list li {
  display: inline;
}
.karma-list-header-row ul.status-list li:not(:last-child)::after {
  content: " | ";
}
.karma-list-header-row ul.status-list li.active a {
  color: black;
}
.karma-list-header-row .karma-list-filters {
  display: flex;
}

.karma-list-body table {
  background-color: transparent;
  user-select: none;
  border: none;
  border-collapse: separate;
  border-spacing: 1px;
}
.karma-list-body table.active {
  background-color: #bcd6e2;
}
.karma-list-body tr {
  color: #23282d;
}
.karma-list-body thead tr {
  background-color: #ffffff;
}
.karma-list-body tbody tr {
  background-color: #f9f9f9;
}
.karma-list-body tbody tr:hover {
  background-color: white;
  color: inherit;
}
.karma-list-body tbody tr.selected {
  background-color: #0073aa;
  color: #ffffff;
}
.karma-list-body tr td,
.karma-list-body tr th {
  color: inherit;
  border: none;
}
.karma-list-body tr td a {
  color: inherit;
}
.karma-list-body tr.selected td a {
  text-decoration: underline;
  cursor: pointer;
}


.karma-list-body ul {
  margin: 0;
  user-select: none;
}
.karma-list-body ul.active {
  background-color: #bcd6e2;
}
.karma-list-body ul ul {
  margin-left: 50px;
}
.karma-list-body ul li {
  margin: 0;
}
.karma-list-body ul li.selected {
  z-index: 10;
}
.karma-list-body ul li:not(.selected) {
  background-color: #f1f1f1;
}
.karma-list-body ul li .row {
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.5em;
  padding: 8px 10px;
  margin: 1px;
}
.karma-list-body ul li .row:hover {
  background-color: white;
  color: inherit;
}

.karma-list-body ul li.selected .row {
  color: #ffffff;
}
.karma-list-body ul li.selected ul .row {
  background-color: #79b2ce;
}
.karma-list-body ul li.selected>.row {
  background-color: #0073aa !important;
}

.karma-list-body ul li .row a {
  color: inherit;
}
.karma-list-body ul li.selected .row a {
  text-decoration: underline;
  cursor: pointer;
}
